## Pandas
Pandas is a very popular Python library that is used for data analysis, which is the second step of the Data Science lifecycle. It offers functionalities to handle and manipulate data very efficiently. It has been widely adopted by people who are not computer scientists or programmers as it makes them move beyond Excel for analyzing data. We will be using Pandas in this course for all of our analyses.

In [1]:
import pandas as pd

In [48]:
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti'] 
  
auth_series = pd.Series(author) 
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [49]:
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti'] 
article = [210, 211, 114, 178] 
  
auth_series = pd.Series(author) 
article_series = pd.Series(article) 
  
frame = { 'Author': auth_series, 'Article': article_series } 
  
result = pd.DataFrame(frame) 
  
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

#### Importing Data from CSV file
### What is CSV file?

In [7]:
!wget https://www.dropbox.com/s/ogg0uy4jijp5ryt/housing.csv

--2020-05-27 13:03:33--  https://www.dropbox.com/s/ogg0uy4jijp5ryt/housing.csv
Resolving www.dropbox.com... 162.125.82.1
Connecting to www.dropbox.com|162.125.82.1|:443... connected.
ERROR: cannot verify www.dropbox.com's certificate, issued by `/C=US/O=DigiCert Inc/OU=www.digicert.com/CN=DigiCert SHA2 Extended Validation Server CA':
  Unable to locally verify the issuer's authority.
To connect to www.dropbox.com insecurely, use `--no-check-certificate'.
Unable to establish SSL connection.

In [2]:
import pandas as pd

# read the file 
df = pd.read_csv(r'C:\Users\PIYUSH\Downloads\housing.csv')

#documentation 
# read_csv?
# actual documentation

# # Shape of the dataframe 
# print('Shape of dataframe',df.shape)

# # information about the data set
# print('\n',df.info())

# # print the first 5 rows 
# print('\n',df.head())

# print(df.describe(include='all').T)

In [5]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Indexing and Selection


* Columns
* Selecting columns
* Changing column names
* Rows
* Indexing both rows and columns
* Setting values
* Series vs Dataframe

In [0]:
# Print Column names
print(df.columns.values)  

# Number of columns
num = len(df.columns)
print("number of columns: ",num)

['longitude' 'latitude' 'housing_median_age' 'total_rooms'
 'total_bedrooms' 'population' 'households' 'median_income'
 'median_house_value' 'ocean_proximity']
number of columns:  10

In [0]:
# selecting column

import pandas as pd 
df = pd.read_csv('housing.csv')

new_df = df['population']
print(new_df.head())

# Make a list of the columns to select
col_to_select = ['longitude','latitude','population', 'ocean_proximity']

# Collect the specified columns and print them
new_df = df[col_to_select]
print('\n\n',new_df.head())

In [0]:
#changing column name


# change or add column names
df.columns = ['long' , 'lat' ,'housing_med_age', 'total_rooms',
 'total_bedrooms', 'pop', 'households', 'med_income',
 'med_house_value' , 'ocean_proximity']

print(df.columns.values,'\n')

# rename speific column names
df.rename(columns = {'pop':'population', 
                    'long':'longitude'},inplace=True)

print(df.columns.values,'\n')

print(df.head())

['long' 'lat' 'housing_med_age' 'total_rooms' 'total_bedrooms' 'pop'
 'households' 'med_income' 'med_house_value' 'ocean_proximity']

['longitude' 'lat' 'housing_med_age' 'total_rooms' 'total_bedrooms'
 'population' 'households' 'med_income' 'med_house_value'
 'ocean_proximity']

   longitude    lat  ...  med_house_value  ocean_proximity
0    -122.23  37.88  ...         452600.0         NEAR BAY
1    -122.22  37.86  ...         358500.0         NEAR BAY
2    -122.24  37.85  ...         352100.0         NEAR BAY
3    -122.25  37.85  ...         341300.0         NEAR BAY
4    -122.25  37.85  ...         342200.0         NEAR BAY

[5 rows x 10 columns]

In [0]:
# Rows
# specify rows to select
rows_to_select = [0,2,5,8]
new_df = df.loc[rows_to_select]
print(new_df,'\n')

# specify a range of rows directly
new_df = df.loc[3:7]
print(new_df)

In [20]:
# Indexing both rows and columns
# import pandas as pd 
# df = pd.read_csv('housing.csv')

# specify the columns 
col_to_select = ['longitude','latitude','population']

# pass the rows and columns
new_df = df.loc[0:5,col_to_select]

print(new_df.head())

   longitude  latitude  population
0    -122.23     37.88       322.0
1    -122.22     37.86      2401.0
2    -122.24     37.85       496.0
3    -122.25     37.85       558.0
4    -122.25     37.85       565.0

In [21]:
#setting the value

# pass the rows and columns
df.loc[0,'longitude'] = 0

print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       0.00     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [0]:
# series vs dataframe

# this will give a series
# 1-d 
ser = df['population']
print(ser.head())

# this will give a dataframe
cols_to_select = ['longitude','latitude','population']
new_df = df[cols_to_select]
print(new_df.head())

# this will give a dataframe
cols_to_select = ['population']
new_df = df[cols_to_select]
print(new_df.head())

0     322.0
1    2401.0
2     496.0
3     558.0
4     565.0
Name: population, dtype: float64
   longitude  latitude  population
0    -122.23     37.88       322.0
1    -122.22     37.86      2401.0
2    -122.24     37.85       496.0
3    -122.25     37.85       558.0
4    -122.25     37.85       565.0
   population
0       322.0
1      2401.0
2       496.0
3       558.0
4       565.0

#### Filtering the data
Filtering is the process of extracting a subset of your data based on some condition or constraint. These conditions can be on the values that the data items take. We filter data when we wish to look at a smaller part of the whole data. For instance, we may want:

* the data in a particular period of the year
* the data of the highest selling items
* the data for a specific group of items
* to remove extra or useless data

In [0]:
# Find all distinct values in ocean_proximity
unique_values = df['ocean_proximity'].unique()
print(unique_values)

['NEAR BAY' '<1H OCEAN' 'INLAND' 'NEAR OCEAN' 'ISLAND']

In [24]:
# filter dataframe
condition = df['ocean_proximity'] == 'NEAR OCEAN'
# print(condition)
filtered_df = df[condition]
# filtered_df
print('Shape of filtered dataframe : ', filtered_df.shape)
print(filtered_df.head())

Shape of filtered dataframe :  (2658, 10)
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1850    -124.17     41.80                16.0       2739.0           480.0
1851    -124.30     41.80                19.0       2672.0           552.0
1852    -124.23     41.75                11.0       3159.0           616.0
1853    -124.21     41.77                17.0       3461.0           722.0
1854    -124.19     41.78                15.0       3140.0           714.0

      population  households  median_income  median_house_value  \
1850      1259.0       436.0         3.7557            109400.0
1851      1298.0       478.0         1.9797             85800.0
1852      1343.0       479.0         2.4805             73200.0
1853      1947.0       647.0         2.5795             68400.0
1854      1645.0       640.0         1.6654             74600.0

     ocean_proximity
1850      NEAR OCEAN
1851      NEAR OCEAN
1852      NEAR OCEAN
1853      NEAR OCEAN
1854      NEAR OCEAN

In [28]:
condition_1 = df['population'] < 10000
filtered_df = df[condition_1]
print('Shape of filtered dataframe 1: ', filtered_df.shape)


condition_2 = df['ocean_proximity'] != 'INLAND'
filtered_df = df[condition_2]
print('Shape of filtered dataframe 2: ', filtered_df.shape)


condition_3 = (df['population'] > 15000) & (df['households'] < 5000)
filtered_df = df[condition_3]
print('Shape of filtered dataframe 3: ', filtered_df.shape)


condition_list = ['NEAR OCEAN', 'NEAR BAY'] 
condition_4 = df['ocean_proximity'].isin(condition_list)
filtered_df = df[condition_4]
print('Shape of filtered dataframe 4: ', filtered_df.shape)

Shape of filtered dataframe 1:  (20617, 10)
Shape of filtered dataframe 2:  (14089, 10)
Shape of filtered dataframe 3:  (2, 10)
Shape of filtered dataframe 4:  (4948, 10)

#### Functions on individual Items of a column

In [0]:
# function that we will be applying to the data
def convert(value):
    return value * 10000

print(df['median_income'].head())

# apply function on a column element by element
converted = df['median_income'].apply(convert)
print('\n\n converted \n',converted.head())

# change the original dataframe to new values 
df['median_income'] = converted

0    8.3252
1    8.3014
2    7.2574
3    5.6431
4    3.8462
Name: median_income, dtype: float64


 converted
 0    83252.0
1    83014.0
2    72574.0
3    56431.0
4    38462.0
Name: median_income, dtype: float64

In [0]:
# Converting numerical values to categories #
# During analysis, sometimes we want to classify our data into separate classes based on some criteria. For instance, we might want to separate these housing blocks into three distinct categories based on the median income of the households i.e.

# High-incomes
# Moderate-incomes
# Low-incomes


# Function to convert a single numerical value to a category
def convert_categories(value):
    if value > 10:
        return 'high-incomes'
    elif value > 2 and value < 10:
        return 'moderate-incomes'
    else:
        return 'low-incomes'


# print original value
print('Original Values:')
print(df['median_income'].head())

# Apply Function on the column
categories = df['median_income'].apply(convert_categories)
print('Converted Values: ')
print(categories.head())

# make a new column in the dataframe
df['income_category'] = categories

Original Values:
0    83252.0
1    83014.0
2    72574.0
3    56431.0
4    38462.0
Name: median_income, dtype: float64
Converted Values:
0    high-incomes
1    high-incomes
2    high-incomes
3    high-incomes
4    high-incomes
Name: median_income, dtype: object

#### Aggregation
Aggregation is the procedure of converting a large number of values, or a dataset, into a single value or quantity aimed to summarize or describe the data. During data analysis, we always want to summarize data in one way or another. When we take a sum, count the number of items, or take the average of some values we aggregate data. Common aggregation methods are:

* sum
* count
* maximum
* minimum
* average

In [2]:
x = lambda a : a + 10
print(x(5))

15

In [34]:
import pandas as pd 
print('total household blocks: ', len(df))


# Sum function
summmation = df['households'].sum()
print('total households : ', summmation)

# Minimum Function
minimum = df['median_income'].min()
print('minimum median income (in tens of thousabds of $) of a household:', minimum)

# maximum Function
maximum = df['median_house_value'].max()
print('maximum median house value of a household block:',maximum)

# Average Function
avg = df['population'].mean()
print('average population of each block: ', avg)

# Using aggregated value to filter
condition = df['population'] > avg
new_df = df[condition]
print('number of household blocks that have population greater than average population: ', len(new_df))

total household blocks:  20640
total households :  10310499.0
minimum median income (in tens of thousabds of $) of a household: 0.4999
maximum median house value of a household block: 500001.0
average population of each block:  1425.4767441860465
number of household blocks that have population greater than average population:  7512

#### Grouping the Data

![Groupby explaination](https://data36.com/wp-content/uploads/2018/07/pandas-grouping-explained-1024x680.png)

Problem : Find total population accross "ocean_proximity "

In [36]:
import pandas as pd 

# filter data since we only need population adn ocean proximity
cols_select = ['population','ocean_proximity']
filtered_df = df[cols_select]
# groupby and aggregate
sums = filtered_df.groupby('ocean_proximity').sum()
print(sums)

                 population
ocean_proximity
<1H OCEAN        13889374.0
INLAND            9112744.0
ISLAND               3340.0
NEAR BAY          2817427.0
NEAR OCEAN        3598955.0

#### Pivoting 
dataset link https://www.dropbox.com/s/rlemzsk4qs0ze96/student-mat.csv

Pivot Tables #
Pivot tables are a summary of the whole data that give us useful information. These tables reorganize the desired data in a different format. These tables can transform data from columns to rows or rows to columns, or group data by any attribute. Because of the reorganization and transformation of the data, these tables were given the name pivot. These tables can include statistics such as sum, mean, maximum, minimum, and many more.

In [37]:
!wget https://www.dropbox.com/s/rlemzsk4qs0ze96/student-mat.csv

--2020-05-27 15:22:13--  https://www.dropbox.com/s/rlemzsk4qs0ze96/student-mat.csv
Resolving www.dropbox.com... 162.125.82.1
Connecting to www.dropbox.com|162.125.82.1|:443... connected.
ERROR: cannot verify www.dropbox.com's certificate, issued by `/C=US/O=DigiCert Inc/OU=www.digicert.com/CN=DigiCert SHA2 Extended Validation Server CA':
  Unable to locally verify the issuer's authority.
To connect to www.dropbox.com insecurely, use `--no-check-certificate'.
Unable to establish SSL connection.

In [57]:
import pandas as pd 
df = pd.read_csv(r'C:\Users\PIYUSH\Downloads\student-mat.csv')
# print(df.head())

# pivot table
table = df.pivot_table(index = 'school',aggfunc = 'mean')
print('\n\n',table)


# # choose which values to keep
# table = df.pivot_table(index = 'school',values = ['G3','Walc','Dalc','studytime'],aggfunc = 'mean')
# print('\n\n',table)

             Dalc      Fedu         G1         G2         G3      Medu  \
school
GP      1.444126  2.553009  10.939828  10.782235  10.489971  2.802292
MS      1.760870  2.282609  10.673913  10.195652   9.847826  2.347826

            Walc  absences        age  failures    famrel  freetime     goout  \
school
GP      2.260745  5.965616  16.521490  0.318052  3.959885  3.223496  3.111748
MS      2.521739  3.760870  18.021739  0.456522  3.826087  3.326087  3.086957

          health  studytime  traveltime
school
GP      3.575931   2.063037    1.386819
MS      3.391304   1.826087    1.913043

In [0]:
import pandas as pd 
df = pd.read_csv('student-mat.csv')

# pivot table
table = df.pivot_table(index = 'school',aggfunc = 'sum')
print('\n\n',table)

         Dalc  Fedu    G1    G2  ...  goout  health  studytime  traveltime
school                          ...
GP       504   891  3818  3763  ...   1086    1248        720         484
MS        81   105   491   469  ...    142     156         84          88

[2 rows x 16 columns]

In [55]:
s=(1,2,3)

TypeError: 'tuple' object does not support item assignment